/* Website Window - Max Window Size to 1025px */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffeadb;
}

/* Logo - Hello Friend */
.logo {
  color: #FFFFF0;
  letter-spacing: 5px;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
}

/* Past Used Colors #dcedc2 #c0d83f #c5e19b*/
/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Cantarell', sans-serif;
  background-color: #73d0e5;
  position: relative;
  z-index: 9999;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #FFFFF0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: black;
}

/* Navigation Bar - Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bee5ec;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-links .work_dropdown:hover .dropdown-content {
  display: block;
}

/* Navigation Bar - Burger Menu */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 18px;
  height: 3px;
  background-color: #FFFFF0;
  margin: 5px;
  transition: all 1s ease;
}
/* Navigation Bar - Burger Menu */




/* Photography - Photo Swiper */
.swiper-container {
  top: 50px;
  bottom: 50px;
}

.swiper-slide {
  background: no-repeat center;
  width: auto;
  height: 600px;
}
/* Photography - Photo Swiper */






/* Website Window - 1024px to 769px */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bee5ec;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color:
  }

  .nav-links .work_dropdown:hover .dropdown-content {
    display: block;
  }

    .swiper-container {
        top: 50px;
        bottom: 50px;
        width: 100%;
        height: 600px;
        overflow-x: hidden;
    }

  .swiper-slide {
    background: no-repeat center;
    width: auto;
    height: 600px;
  }

  /* coverflow without using html img tag
  .coverflow-container{
    display: block;
    right: 30px;
    top: 10vh;
    height: 100vh;
    max-height: 100vh;
  }
  .coverflow-image {
    width: 300px;
    height: 500px;
    position: absolute;
    background-size: cover;
    background-image: url(../images/paris-chair.jpg);
  }
  */
}




/* Website Moblie Window - 768px to 0px */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 65vh;
    top: 8vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }

  .nav-links a:hover {
    color: #73d0e5;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bee5ec;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .nav-links .work_dropdown:hover .dropdown-content {
    display: block;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-90deg) translate(-7px, 11px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-270deg) translate(-9px, 11px);
}

.swiper-container {
  top: 50px;
  bottom: 50px;
  width: 100%;
  height: 600px;
  overflow-x: hidden;
}

.swiper-slide {
  background: no-repeat center;
  width: auto;
  height: 600px;
}
/* Website Moblie Window - 768px to 0px */





/* About Page - Styling */
.name {
  font-family: 'Bilbo', cursive;
  font-size: 437.5%;
}
/* About Page - Styling */



/* Contact Page - Styling */
form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 16px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #fafafc;
  border-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #ebecf1;
  cursor: pointer;
}
/* Contact Page - Styling */



/* Parallax - Styling */
.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

}
/* Parallex Intro Screen */
.intro-screen {
    height: 100vh;
    font-size: 40px;
    color: white;
    @include align-center;
}
/* Parallex Section 1 */
.para{
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url("../images/NewOrleans-flags.JPG");
}

/* Parallex Section 2 */
.des_scrpt{
  color: white;
  width: 100%;
  height: 100vh;
}
/* Parallax - Styling */

@mixin align-center {
    display:flex;
    justify-content: center;
    align-items: center;
}



